{% extends base_template %}
{% block content %}
<div class="main-panel">        
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                Información Básica
                            </h4>
                            <p class="card-description">
                                Por favor, llena los siguientes campos:
                            </p>
                        {% if messages %}
                        <div class="alert-container">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                   
                            <form class="forms-sample" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.gender.id_for_label }}">Género</label>
                                    <select class="form-control" id="{{ form.gender.id_for_label }}" name="{{ form.gender.html_name }}">
                                        {% for key, value in form.gender.field.choices %}
                                            <option value="{{ key }}" {% if form.gender.value|stringformat:"s" == key %}selected{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            <div class="form-group">
                                <label for="{{ form.city.id_for_label }}">Ciudad</label>
                                <select multiple class="form-control" id="{{ form.city.id_for_label }}" name="{{ form.city.html_name }}">
                                    {% for city in form.city.field.queryset %}
                                    <option value="{{ city.pk }}" {% if city.pk in form.city.value %}selected{% endif %}>{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                                <div class="form-group">
                                    <label for="{{ form.birthday.id_for_label }}">Fecha de Nacimiento</label>
                                    {{ form.birthday }}
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">
                                        Guardar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
