{% load static %} 

<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'js/select.dataTables.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'css/vertical-layout-light/style.css' %}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="container-scroller">
        {% include "patient/partials/_navbar.html" %}
    <div class="container-fluid page-body-wrapper">
        {% include "patient/partials/_sidebar.html" %}

        {% block content %}{% endblock %}
    </div>
  </body>

    <!-- Carga de archivos JS base del vendor -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>

    <!-- Plugins JS para esta página -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>

    <!-- Scripts JS inyectados -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>

    <!-- JS personalizado para esta página -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  </body>
</html>