{% extends 'patient/base.html' %} 
{% load static %} 
{% block content %}


<div class="main-panel">
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="chatbot-header">
      <b>Bienvenid@, {{ user.username }}</b>
    
      <a href="{% url 'core:clear_chat' user_id=user.id %}" id="clear-messages" class="icon-clear-chat">
<i class="fa-regular fa-trash-can"></i>
</a>
    </div>
    <div class="card-body messages-box">
      <ul
        class="list-unstyled messages-list"
       
      >
       {% for message in chats %}
    <li class="{{ message.is_from_user|yesno:'sent-message,received-message' }}">
      <div class="message-text">
        <div class="message-sender">
          {% if message.is_from_user %}
            
          {% else %}
            <img src="{% static 'images/g616.svg' %}" class="bot-icon" alt="AI Chatbot" />
          {% endif %}
        </div>
        <div class="message-content">{{ message.content }}</div>
      </div>
    </li>
    {% endfor %}
      </ul>
    </div>
  </div>
  <form class="message-form">
    {% csrf_token %}
    <div class="input-group">
      <input
        type="text"
        class="form-control message-input"
        placeholder="Escribe tu mensaje..."
      />
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Enviar</button>
      </div>
    </div>
  </form>
  </div>
</div>
<script>
// myTODO: mover a un chatbot.js e importar 
 document.addEventListener("DOMContentLoaded", function() {
  const messagesList = document.querySelector(".messages-list");
  const messageForm = document.querySelector(".message-form");
  const messageInput = document.querySelector(".message-input");
  const clearMessagesButton = document.getElementById("clear-messages");

  messageForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    // Añadir mensaje enviado por el usuario a la lista inmediatamente
    addMessageToList(message, true);
    messageInput.value = ""; // Limpiar el input después de enviar.

    // Añadir el indicador de "pensando..." justo después de enviar el mensaje
    addTypingIndicator();

    // Simula el envío del mensaje al servidor y espera la respuesta
    fetch("", { // Asegúrate de reemplazar "tu_endpoint_aqui" con la URL correcta.
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams({
        csrfmiddlewaretoken: document.querySelector("[name=csrfmiddlewaretoken]").value,
        message: message,
      }),
    })
    .then((response) => response.json())
    .then((data) => {
       removeTypingIndicator(); // Remueve el efecto de "typing" ANTES de mostrar la respuesta del bot
      addMessageToList(data.response, false); // Añade la respuesta del bot
      scrollToBottom(); // Asegura que el scroll baje al último mensaje
    });
  });

  function addMessageToList(content, isSent) {
    const messageItem = document.createElement("li");
    messageItem.className = isSent ? "sent-message" : "received-message";

    const messageContentDiv = document.createElement("div");
    messageContentDiv.className = "message-text";

    if (!isSent) {
      // Si el mensaje es del bot, incluir el ícono
      const botIcon = document.createElement("img");
      botIcon.src = "{% static 'images/g616.svg' %}"; // Asegúrate de tener la ruta correcta
      botIcon.alt = "AI Chatbot";
      botIcon.className = "bot-icon";
      messageContentDiv.appendChild(botIcon);
    }

    const textNode = document.createElement("span");
    textNode.textContent = content;
    messageContentDiv.appendChild(textNode);

    messageItem.appendChild(messageContentDiv);
    messagesList.appendChild(messageItem);
  }

function addTypingIndicator() {
  const typingIndicator = document.createElement("li");
  typingIndicator.className = "typing-indicator";
  typingIndicator.id = "typing-indicator"; // Asegúrate de asignar un ID aquí para poder encontrarlo después
  for (let i = 0; i < 3; i++) {
    const dot = document.createElement("span");
    dot.textContent = ".";
    typingIndicator.appendChild(dot);
  }
  messagesList.appendChild(typingIndicator);
  scrollToBottom();
}

  function removeTypingIndicator() {
    const typingIndicator = document.getElementById("typing-indicator");
    if (typingIndicator) {
      typingIndicator.remove();
    }
  }

  function scrollToBottom() {
    messagesList.scrollTop = messagesList.scrollHeight;
  }

  clearMessagesButton.addEventListener("click", () => {
    messagesList.innerHTML = ""; // Limpia la lista de mensajes.
  });
});

</script>
{% endblock %}
