{% extends "patient/base.html" %} 

{% load static %} 

{% block title %}Dashboard Paciente{% endblock %} {% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">
              {% if user.gender == '2' %}
                Bienvenida @{{ user.username }}
              {% elif user.gender == '1' %}
                Bienvenido @{{ user.username }}
              {% else %}
                Bienvenid@ @{{ user.username }}
              {% endif %}
            </h3>
            <h6 class="font-weight-normal mb-0">Te invitamos a explorar nuestra plataforma donde podrás interactuar con nuestro asistente virtual  y descubrir los mejores profesionales para el cuidado de tu salud.</h6>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <a href="{% url 'core:chatbot' %}" style="color: inherit; text-decoration: none; display: block;">
          <div class="card card-tale">
              <div class="card-body">
                  <img src="{% static 'images/chat.svg' %}" class="image-card" alt="chatbot" />
                  <p class="fs-30 mb-2">Asistente Virtual</p>
                  <p>Nuestro asistente virtual te guiará a través de un proceso interactivo para completar tu información inicial.</p>
              </div>
          </div>
      </a>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <a href="{% url 'core:list_professionals' %}" style="color: inherit; text-decoration: none; display: block;">
        <div class="card card-dark-blue">
          <div class="card-body">
            <img src="{% static 'images/profesional.svg' %}" class="image-card-2" alt="chatbot" />
            <p class="fs-30 mb-2">Profesionales</p>
            <p>Explora nuestro directorio de profesionales de la salud para encontrar el especialista adecuado para tus necesidades.</p>
          </div>
        </div>
      </a>
      </div>
      
   
       
      
    </div>
   
   
 
  </div>
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Conocé nuestra <a href="{% url 'privacy_policy' %}" target="_blank">Política de privacidad</a></span>
      
    </div>
  </footer>
</div>

{% endblock %}
