{% extends "professional/base.html" %} 

{% load static %} 

{% block title %}Dashboard Profesional{% endblock %} {% block content %}

  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          
          <div class="row">
            <div class="col-12 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">
                    {% if user.gender == '2' %}
                      Bienvenida @{{ user.username }}
                    {% else %}
                      Bienvenido @{{ user.username }}
                    {% endif %}
              </h3>
              <h6 class="font-weight-normal mb-0">
                Ahora puedes disfrutar de nuestra plataforma.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- partial -->
  </div>
<!-- container-scroller -->


{% endblock %}
