{% extends "professional/base.html" %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalles del Paciente</h4>
            <a href="{% url 'core:remove_connection' patient.id %}" class="btn btn-danger btn-sm">Desconectar</a>
            <div class="table-responsive">
              <table id="example" class="display expandable-table" style="width:100%">
                <thead>
                    <tbody>
                        <!-- Nombre Completo -->
                        <!-- <tr>
                            <th scope="row">Nombre Completo</th>
                            <td>{{ patient.user.full_name }}</td>
                        </tr> -->
                        <th scope="row">Código del Paciente</th>
    <td>{{ patient.get_identifier_code }}</td>
                        <tr>
                          <th scope="row">Fecha de nacimiento</th>
                          <td>{{ patient.user.birthday|date:"d/m/Y"|default:"No especificado" }}</td>
                      </tr>
                        <!-- Médico de Cabecera -->
                        <tr>
                          <th scope="row">Médico de Cabecera</th>
                          <td>
                              {% if patient.primary_care_physician %}
                                  {{ patient.primary_care_physician }}
                              {% else %}
                                  No asignado
                              {% endif %}
                          </td>
                      </tr>
                        <!-- Experiencia con Terapia Anterior -->
                        <tr>
                            <th scope="row">Experiencia con Terapia Anterior</th>
                            <td>{{ patient.previous_therapy_experience }}</td>
                        </tr>
                        <!-- Motivo de la Consulta -->
                        <tr>
                            <th scope="row">Motivo de la Consulta</th>
                            <td>{{ patient.reason_for_therapy }}</td>
                        </tr>
                        <!-- Descripción de Síntomas -->
                        <tr>
                            <th scope="row">Descripción de Síntomas</th>
                            <td>{{ patient.symptoms_description }}</td>
                        </tr>
                        <!-- Objetivos de la Terapia -->
                        <tr>
                            <th scope="row">Objetivos de la Terapia</th>
                            <td>{{ patient.therapy_goals }}</td>
                        </tr>
                        <!-- Añade más filas según sea necesario para otros atributos -->
                    </tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
   
 
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              {% if messages %}
              <div class="alert-container">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  {% endfor %}
              </div>
              {% endif %}
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-title" id="sesiones">Sesiones con el paciente</p>
                <a class="btn-sesion" href="{% url 'core:create_session' patient_id=patient.id %}">Crear nueva sesión</a>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <div class="custom-table-style">
                    <table id="example" class="display expandable-table" style="width:100%">
                      <thead>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha de la sesión</th>
                                <th>Objetivo de la sesión</th>
                                <th>Dificultades</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in sessions %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ session.session_date }}</td>
                                <td>{{ session.objectives }}</td>
                                <td>
                                    {% if session.difficulties %}
                                    {{ session.difficulties }}
                                    {% else %}
                                    No hay dificultades registradas
                                    {% endif %}
                                </td>
                                <td>
                                  <!-- Enlace para editar la sesión -->
                                  <a href="{% url 'core:edit_session' pk=session.id %}" class="btn btn-sm btn-primary">Editar</a>
                                  <!-- Enlace para eliminar la sesión -->
                                  <a href="{% url 'core:delete_session' pk=session.id %}" class="btn btn-sm btn-danger"
                                    onclick="return confirm('¿Estás seguro que deseas eliminar esta sesión?');">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </thead>
                    </table>
                  </div>
                  {% if sessions %}
                  <a href="{% url 'core:patient_report' patient.id %}" class="btn btn-primary btn-sm">Descargar reporte</a>
                  {% endif %}
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    
      <div class="my-3">
        <h3 class="font-weight-bold">Recomendación</h3>
        <p class="mb-4 text-muted">
          Aquí encuentras sugerencias para la siguiente cita, derivadas de las sesiones y datos previos del paciente. O 
          prueba también hacer una consulta personalizada al bot.
        </p>
        
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card p-4">
                <img src="{% static 'images/chatbot-2.svg' %}" class="img-fluid mb-4" alt="profesional" />
                <p class="card-text">{{ recommendation|linebreaksbr }}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card p-4">
                <h3 class="mb-4">Solicitud personalizada</h3>
                <form method="GET">
                  <div class="form-group">
                    <label for="custom-prompt">Ingresa tu duda o consulta</label>
                    <textarea class="form-control" name="custom-prompt" id="custom-prompt" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>
</div>
<!-- mostrar mensajes por cierto tiempo -->
<script>
  setTimeout(function(){
    if ($('#msg').length > 0) {
      $('#msg').remove();
    }
  }, 3000)

  window.addEventListener('DOMContentLoaded', (event) => {
    if (window.location.hash === '#sesiones') {
      // Desplaza a la sección correspondiente suavemente
      const section = document.getElementById('sesiones');
      if (section) {
        section.scrollIntoView({ behavior: 'smooth' });
      }

      // Limpia la URL, removiendo el anclaje, con un pequeño retraso
      setTimeout(() => {
        history.replaceState(null, null, ' ');
      }, 600); // Ajusta el tiempo según la duración del desplazamiento suave
    }
  });
</script>
{% endblock %}
