{% extends "professional/base.html" %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalles del Paciente</h4>
            <div class="table-responsive">
              <table class="table table-striped" >
                <thead>
                    <tbody>
                        <!-- Nombre Completo -->
                        <tr>
                            <th scope="row">Nombre Completo</th>
                            <td>{{ patient.user.full_name }}</td>
                        </tr>
                        <!-- Médico de Cabecera -->
                        <tr>
                            <th scope="row">Médico de Cabecera</th>
                            <td>{{ patient.primary_care_physician }}</td>
                        </tr>
                        <!-- Experiencia con Terapia Anterior -->
                        <tr>
                            <th scope="row">Experiencia con Terapia Anterior</th>
                            <td>{{ patient.previous_therapy_experience }}</td>
                        </tr>
                        <!-- Motivo de la Consulta -->
                        <tr>
                            <th scope="row">Motivo de la Consulta</th>
                            <td>{{ patient.reason_for_therapy }}</td>
                        </tr>
                        <!-- Descripción de Síntomas -->
                        <tr>
                            <th scope="row">Descripción de Síntomas</th>
                            <td>{{ patient.symptoms_description }}</td>
                        </tr>
                        <!-- Objetivos de la Terapia -->
                        <tr>
                            <th scope="row">Objetivos de la Terapia</th>
                            <td>{{ patient.therapy_goals }}</td>
                        </tr>
                        <!-- Añade más filas según sea necesario para otros atributos -->
                    </tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <!-- <h2>Crear Sesión</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.text }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" class="formulario-sesion">
        {% csrf_token %}
       
         <label for="{{ form.session_date.id_for_label }}" class="etiqueta-campo">Fecha de sesión:</label><br>
            {{ form.session_date }}
        <div class="campo-formulario">
            <label for="id_objectives" class="etiqueta-campo">Objetivos trabajados:</label><br>
            {{ form.objectives }}
        </div>
        <div class="campo-formulario">
            <label for="id_difficulties" class="etiqueta-campo">Dificultades:</label><br>
            {{ form.difficulties }}
        </div>
        <button type="submit" class="boton-guardar">Guardar</button>
    </form> -->
    
 
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-title">Sesiones</p>
                <a class="btn btn-primary" href="{% url 'core:create_session' %}">Crear Sesión</a>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                      <thead>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha de la sesión</th>
                                <th>Objetivo de la sesión</th>
                                <th>Dificultades</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in sessions %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ session.session_date }}</td>
                                <td>{{ session.objectives }}</td>
                                <td>
                                    {% if session.difficulties %}
                                    {{ session.difficulties }}
                                    {% else %}
                                    No hay dificultades registradas
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </thead>
                  </table>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    
      <div class="my-3">
        <h2 class="mb-2">Recomendación</h2>
        <p class="mb-4 text-muted">
          Aquí encuentras sugerencias para la siguiente cita, derivadas de las sesiones y datos previos del paciente. O 
          prueba también hacer una consulta personalizada al bot.
        </p>
        
          <div class="row g-0">
            <div class="col-md-3">
              <div class="card p-4">
                <img src="{% static 'images/chatbot-2.svg' %}" class="img-fluid mb-4" alt="profesional" />
                <p class="card-text">{{ recommendation|linebreaksbr }}</p>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card p-4">
                <h2 class="mb-4">Solicitud personalizada</h2>
                <form method="GET">
                  <div class="form-group">
                    <label for="custom-prompt">Ingresa tu duda o consulta</label>
                    <textarea class="form-control" name="custom-prompt" id="custom-prompt" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>
</div>
{% endblock %}
