{% extends 'professional/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Listado de Sesiones</h4>
                    <a class="btn btn-primary" href="{% url 'core:create_session' %}">Crear Sesión</a>
                </div>
                <div class="filters">
                    <form method="get">
                        <label for="patient">Filtrar por Paciente:</label>
                        <select name="patient" id="patient">
                            <option value="">Todos los pacientes</option>
                            {% for patient in patients %}
                            <option value="{{ patient.id }}">{{ patient.user.full_name }}</option>
                            {% endfor %}
                        </select>
                
                        <label for="date_from">Fecha de la sesión Desde:</label>
                        <input type="date" id="date_from" name="date_from">
                
                        <label for="date_to">Hasta:</label>
                        <input type="date" id="date_to" name="date_to">
                
                        <button type="submit">Filtrar</button>
                    </form>
                </div>

                
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="sessionTable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <th>Objetivos</th>
                                        <th>Dificultades</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for session in sessions %}
                                    <tr>
                                        <td>{{ session.session_date }}</td>
                                        <td>{{ session.patient.user.full_name }}</td>
                                        <td>{{ session.objectives }}</td>
                                        <td>{{ session.difficulties }}</td>
                                        <td>
                                            <a href="{% url 'core:edit_session' session.id %}">Editar</a>
                                            <a href="{% url 'core:delete_session' session.id %}">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
