 {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenido</title>
     <!--====== Style CSS ======-->
    <link rel="stylesheet" href="{% static 'css/assets-home/style.css' %}">
  </head>
  <body>
    <div class="container mt-5">
      <div class="onboarding text-center">
        <h1>Bienvenido!</h1>
        <p class="lead">Ahora estás registrado y listo para comenzar.</p>
        <p>
          Antes de continuar, podrías indicarnos la finalidad de tu uso para con
          la app
        </p>

        <form method="post" action="{% url 'select_user_type' %}">
          {% csrf_token %}
          <button
            type="submit"
            name="user_type"
            value="P"
            class="main-btn"
          >
            Busco ayuda
          </button>
          <button
            type="submit"
            name="user_type"
            value="PR"
            class="main-btn"
          >
            Soy profesional
          </button>
        </form>

        <!-- Incluye navegación adicional si es necesario -->
      </div>
    </div>
   
  </body>
</html>
