{% load static %} {% block head %}

<link href="{% static 'css/signup-signin.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

{% endblock %} {% block content %}

<div class="container">
  <div class="forms-container-signup">
    <div class="signin-signup">
      <!-- Formulario de Registro -->
      <form action="{% url 'signup' %}" method="POST" class="sign-up-form">
        <h2 class="title">Crear cuenta</h2>
        {% csrf_token %}
        <div class="user-details">
        <!-- Campo de Nombre Completo -->
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            name="{{ form.full_name.name }}"
            placeholder="Nombre y Apellido"
            id="id_{{ form.full_name.name }}"
            value="{{ form.full_name.value|default_if_none:'' }}"
            required
          />
        </div>

        <!-- Campo de Número de Teléfono -->
        <div class="input-field">
          <i class="fas fa-phone"></i>
          <input
            type="text"
            name="{{ form.phone_number.name }}"
            placeholder="Celular"
            id="id_{{ form.phone_number.name }}"
            value="{{ form.phone_number.value|default_if_none:'' }}"
            required
          />
        </div>

        <!-- Campo de Correo Electrónico -->
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input
            type="email"
            name="{{ form.email.name }}"
            placeholder="Correo Electrónico"
            id="id_{{ form.email.name }}"
            value="{{ form.email.value|default_if_none:'' }}"
            required
          />
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <div class="error" style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <!-- Campo de Nombre de Usuario -->
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            type="text"
            name="{{ form.username.name }}"
            placeholder="{{ form.username.label }}"
            id="id_{{ form.username.name }}"
            value="{{ form.username.value|default_if_none:'' }}"
            required
          />
          {% if form.username.errors %}
            {% for error in form.username.errors %}
              <div class="error" style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

        <!-- Campo de Contraseña -->
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password1"
            placeholder="Contraseña"
            id="id_password1"
            required
          />
          {% if form.password1.errors %}
            {% for error in form.password1.errors %}
              <div class="error" style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>

  
        <div class="input-field">
          <i class="fa-solid fa-unlock"></i>
          <input
            type="password"
            name="password2"
            placeholder="Confirmar Contraseña"
            id="id_password2"
            required
          />
          {% if form.password2.errors %}
            {% for error in form.password2.errors %}
              <div class="error" style="color: red;">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </div>
      <div class="input-field-acceptance">
        <label>
          <input type="checkbox" name="privacy_policy" required />
          He leído y acepto la <a href="{% url 'privacy_policy' %}" target="_blank">política de privacidad</a>.
        </label>
      </div>
      </div>

        <input type="submit" value="Registrar" class="btn solid" />

        <!-- Enlace para iniciar sesión si ya tiene cuenta -->
        <div class="signup-link">
          ¿Ya tienes una cuenta? <a href="{% url 'signin' %}">Iniciar sesión</a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <img src="{% static 'images/sign_up_image.svg' %}" class="image" alt="" />
    </div>
  </div>
</div>

{% endblock %}
