{% extends 'patient/base.html' %} 
{% load static %} 
{% block content %}

    <div class="container-detail">
        <a href="{% url 'core:list_professionals' %}" class="back-button">
        <img src="{% static 'images/arrow-left.svg' %}">
    </a>

                <div class="profile-card"> 
                        <div class="profile-pic">
                            {% if professional.profile_image %}
            <img src="{{ professional.profile_image.url }}" alt="Imagen de perfil">
            {% else %}
            <p>No hay imagen de perfil disponible.</p>
            {% endif %}
                
            </div>

            <div class="profile-details">

                 <div class="intro">
                    <h2>{{ professional.user.full_name }}</h2>
                    <h4>{{ professional.title }}</h4>
                    
                 </div>

                 <div class="contact-info">
                    <div class="row">
                         <div class="icon">
                            <i class="fa fa-phone"  style="color:var(--dark-magenta)"></i>
                         </div>
                         <div class="content">
                            <span>Celular</span>
                            <h5>{{ professional.user.phone_number}}</h5>
                         </div>
                    </div>

                    <div class="row">
                        <div class="icon">
                           <i class="fa fa-envelope-open"  style="color:var(--light-green)"></i>
                        </div>
                        <div class="content">
                           <span>Correo electrónico</span>
                           <h5>{{ professional.user.email}}</h5>
                        </div>
                        
                   </div>
            </div>


            {% if not patient.professional %}
             
                <a href="{% url 'core:connect_professional' professional_id=professional.id %}" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-user-group"></i> Conectar
                </a>
         
            {% endif %}

            {% if patient.professional.id == professional.id %}
              <button class="btn-disconnect" onclick="confirmDisconnect(event)">  <!-- myTODO: poner boton de color rojo -->
                <a href="{% url 'core:disconnect_professional' %}" style="color: inherit; text-decoration: none;">
                <i class="fa-solid fa-user-group"></i> Desconectar
                </a>
            </button>
            {% endif %}
            </div>
                {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
       </div>

    
      <!----about section ----->
       <div class="about">
           <h1>Acerca de mí</h1>
              <img src="{% static 'images/Group_3.svg' %}" alt="Decorative Circle" class="decorative-circle">

           <p> {{ professional.biography }}
          </p>
       
       
         
<div class="work">
    
    <!-- Especialización -->
    <div class="workbox">
        <div class="icon" >
            <img src="{% static 'images/grow.svg' %}" alt="" class="icons"> <!-- Asegúrate de tener un icono adecuado aquí -->
        </div>
        <div class="desc">
            <h3>Especialización y Habilidades</h3>
            <p>{{ professional.specialization }}</p>
            <!-- Agrega más contenido si es necesario -->
        </div>
    </div>

    <!-- Experiencia y Formación -->
    <div class="workbox">
        <div class="icon">
            <img src="{% static 'images/graduation.svg' %}" alt="" class="icons"> <!-- Asegúrate de tener un icono adecuado aquí -->
        </div>
        <div class="desc">
            <h3>Formación Profesional</h3>
            <p>{{ professional.certifications_or_courses }}</p>
            <!-- Agrega más contenido si es necesario -->
        </div>
    </div>

    <!-- Enfoque Terapéutico -->
    <div class="workbox">
        <div class="icon">
            <img src="{% static 'images/notebook.svg' %}" alt=""class="icons"> 
        </div>
        <div class="desc">
            <h3>Enfoque Terapéutico</h3>
            <p>{{ professional.therapeutic_approaches }}</p>
           
        </div>
    </div>

    <!-- Logística y Disponibilidad -->
   <div class="workbox">
    <div class="icon" class="icons">
          <img src="{% static 'images/calendar.svg' %}" alt=""class="icons"> 
    </div>
    <div class="desc">
        <h3>Logística y Disponibilidad</h3>
       <p> <strong>Modalidades de atención: </strong>
            {% for mode in professional.session_modalities.all %}
                {{ mode.get_name_display }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No especificado
            {% endfor %}
        </p>
        <p><strong>Ciudades donde atiende: </strong>
            {% for city in professional.city_served.all %}
                {{ city.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No especificado
            {% endfor %}
        </p>
         <p> <strong>Horarios disponibles: </strong>
            {% for availability in professional.availability.all %}
                {{ availability.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No especificado
            {% endfor %}
        </p>
    </div>
</div>

</div>
    <script>
function confirmDisconnect(event) {
    event.preventDefault();  // Previene la navegación del enlace
    var confirmed = confirm("¿Estás seguro de que quieres desconectarte de este profesional?");
    if (confirmed) {
        // Si el usuario confirma, sigue el enlace
        window.location.href = event.target.closest('a').href;
    }
}
</script>
    {% endblock %}


  
