
.page-body-wrapper{
  overflow-y: auto;
}
.icon-clear-chat {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px; 

  color: #fff; 
  border-radius: 50%; 
  text-decoration: none; 
}
.typing-indicator span {
  display: inline-block;
  margin: 0 2px;
  animation: typing 1.4s infinite;
  color: #000;
  font-size: 24px;

}

.typing-indicator span:nth-child(1) { animation-delay: 0s; }
.typing-indicator span:nth-child(2) { animation-delay: 0.2s; }
.typing-indicator span:nth-child(3) { animation-delay: 0.4s; }

@keyframes typing {
  0% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}
/* El scrollbar en sí */
::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar */
}

/* El fondo del scrollbar (la parte que "contiene" la barra) */
::-webkit-scrollbar-track {
  background: #555; /* Color de fondo */
}

/* La barra de desplazamiento (el thumb) */
::-webkit-scrollbar-thumb {
  background: #717BBC; /* Color de la barra */
  border-radius: 2px; /* Bordes redondeados */
}

/* El estado hover de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: #717BBC;; /* Color de la barra al pasar el mouse */
}
.bot-icon{
  width: 40px;
  display: block;
  margin-bottom: 5px;
}
.material-symbols-outlined {
  background: #717BBC;
      border-radius: 4px;
    margin: 0 10px 7px 0;
    color: #fff;
    padding: 5px;
}
.chatbot-header {
     padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #717BBC;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
border-radius: 10px 10px 0px 0px;
  
  }
  .messages-box {
    background: #fff;
  overflow: hidden;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
    flex: 1;
    overflow-y: auto;
  }
  

  .messages-list {
    padding-left: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
  }

  .message-text {
    padding: 10px;
    border-radius: 5px;
  }

  

  .message-form {
    display: flex;
    
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: #fff;
  }

  .message-input {
    flex: 1;
    border-radius: 0;
    border-right: none;
  
  }

  .btn-send {
    border: none;
    background-color: #717BBC;
    border-radius: 0px;
  }

  .chat-container {
    height: 100px;
    width: 80%;
    margin: 20px 100px 0px 100px;
    flex-direction: column;
  }
  .input-group{
    border-top: 1px solid #ddd;
  }
  .messages-box {
  max-height: 200px;
  overflow-y: auto;
 
}

.messages-list {
  padding-left: 0;
}

/* Estilos para mensajes enviados por el usuario */
.sent-message .message-text {
  background-color: #717BBC; /* Color de fondo claro para mensajes enviados */
  color: #fff; /* Color del texto */
  border-radius: 10px 10px 0 10px;
  padding: 5px 25px 5px 25px; /* Espacio alrededor del texto */
  border-radius: 15px; /* Bordes redondeados */
  margin: 5px 0; /* Margen arriba y abajo */
  display: inline-block; /* Hace que el fondo solo rodee el texto */
  max-width: 70%; /* Máximo ancho del mensaje */
  align-self: flex-end; /* Alinea a la derecha */
}

/* Estilos para mensajes recibidos del chatbot */
.received-message .message-text {
  background-color: #F8F7FF; /* Color de fondo diferente para mensajes recibidos */
  color: #000; /* Color del texto */
  padding: 10px; /* Espacio alrededor del texto */
  border-radius: 15px; /* Bordes redondeados */
  margin: 5px 0; /* Margen arriba y abajo */
  display: inline-block; /* Hace que el fondo solo rodee el texto */
  max-width: 80%; /* Máximo ancho del mensaje */
  align-self: flex-start; /* Alinea a la izquierda */
}
